<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Edit Customer</title>
</head>
<body>
  <H3>Update</H3>
  <form th:object="${customer}" th:action="@{/save}" method="post">
      <input type="hidden" th:field="*{id}">
      <div>
          <input type="text" th:field="*{name}" class="form-control" />
      </div>
      <div style="clear: both; display: block; height: 10px"></div>
      <div>
          <input type="text" th:field="*{age}" class="form-control" />
      </div>
      <div style="clear: both; display: block; height: 10px"></div>
      <div>
          <input type="text" th:field="*{phoneNumber}" class="form-control" />
      </div>
      <div style="clear: both; display: block; height: 10px"></div>
      <input type="submit" class="btn btn-success" value="save"/>
  </form>

</body>
</html>